@import '../default'

.feedback-cnt
	width 900px
	display flex
	margin 0 auto
	margin-top 20px
	justify-content: space-around

.feedback-input
	width 750px
	margin: 0 auto
	padding-left 20px
	padding-right 20px
	// background-color red

.feedback-label
	color $color_black
	line-height 30px
	span
		color red

.feedback-btn
	// width 100px
	// background-color blue
	#btn1,#btn2
		margin-top 20px
