/*
	索引页的样式
*/

@import '../default'

// index.vue

$headBarHeight = 60px     // 定义HeadBar的高度
$sideBarWidth = 18%     // 定义SideBar的宽度
$rightBoxWidth= 82%

.index-container {
	width: 100%;
	height: 100%;

	.head-box {
		width: 100%;
		// height: $headBarHeight;
		padding: 0;
	}

	.main-box {
		max-width: 1680px;
		width: 100%;
		
		.menu-btn {
			display: none;
		}
		
		.left-box {
			width: $sideBarWidth;
			overflow: hidden;
			float: left;
			// min-width: 180px;
		}

		.right-box {
			width: $rightBoxWidth;
			overflow: hidden;
			margin: auto;
			float: left;

			.index-right-box{  // 设置默认的内容边框样式
				width 92%;
				// padding-left 48px;
				// padding-right 48px;
				margin 30px auto;
			}
		}
		
		@media screen and (max-width: 768px) {
			.menu-btn {
			    display: block;
			    margin-top: 12px;
			    margin-left: 12px;
			    width: 48px;
			    padding: 16px 0;
			    border-radius: 4px;
			}
			
			.left-box {
				display: none;
			}
			
			.right-box {
				float: none;
				width: 100%;
			}
		}
	}
}

.fade-enter-active, .fade-leave-active {
	transition: opacity 0.1s linear;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}

